<footer class="pt-5">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-6 col-lg-3 about-footer">
                    <h3>KitchenRecipe</h3>
                    <ul>
                        <li>
                            <a href="tel: +91 8273 998875"><i class="fa fa-phone fa-flip-horizontal"></i>+91 8273
                                998875</a>
                        </li>
                        <li>
                            <a href="mailto:satyaasingh001@gmail.com"><i
                                    class="fa fa-envelope"></i>satyaasingh001@gmail.com</a>
                        </li>
                        <li><i class="fa fa-map-marker"></i>City Saharanpur<br>Uttar Pradesh, 247001<br>India
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-2 page-more-info">
                    <div class="footer-title">
                        <h4>Links : </h4>
                    </div>
                    <ul>
                        <li><a routerLink=""><i class="fa fa-hand-o-right"> </i> Home</a></li>
                        <li><a routerLink="/All-Recipes"><i class="fa fa-hand-o-right"> </i> Recipes</a></li>
                        <li><a routerLink="/about"><i class="fa fa-hand-o-right"> </i> About</a></li>
                        <li><a routerLink="/contact"><i class="fa fa-hand-o-right"> </i> Contact</a></li>
                        <li><a routerLink="/Admin-Panel"><i class="fa fa-hand-o-right"> </i> Admin Panel</a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-lg-3 page-more-info">
                    <div class="footer-title">
                        <h4>Recipes : </h4>
                    </div>
                    <ul>
                        <li><a routerLink=""><i class="fa fa-hand-o-right"> </i> Breakfast</a></li>
                        <li><a routerLink=""><i class="fa fa-hand-o-right"> </i> Desserts</a></li>
                        <li><a routerLink=""><i class="fa fa-hand-o-right"> </i> Dinner</a></li>
                        <li><a routerLink=""><i class="fa fa-hand-o-right"> </i> Dairy</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4 open-hours">
                    <div class="footer-title">
                        <h4>Follow us : </h4>
                    </div>
                    <ul class="footer-social">
                        <li><a href="https://www.linkedin.com/in/satyaprakash-963510213"><i
                                    class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://instagram.com/satya_webdev?igshid=YmMyMTA2M2Y="><i
                                    class="fa fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/Satyaaa_Singh?t=K31WWh5wbx3-CqUJ1CGebg&s=09"><i
                                    class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <a href="">Privacy policy</a>
                </div>
                <div class="col-sm-8">
                    <p>KitchenRecipe @ 2022 All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>