<section>

    <!-- ****** banner Area Start ****** -->
    <div class="breadcumb-area" style="background-image: url(../../../assets/images/bg-banner.png);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="bradcumb-title text-center">
                    <h2>Contact us</h2>
                    <span><a routerLink="/home"><i class="fa fa-home"></i> Home</a></span>
                    <span><a routerLink="contact"> / Contact us</a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- ****** map ****** -->
    <div class="my-lg-5 py-5">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 my-5 py-5 text-secondary">
                    <div class="d-flex my-5">
                        <div>
                            <img src="../../../assets/images/map-marker.png" alt="">
                        </div>
                        <span class="h2 m-2">City Saharanpur, Uttar Pradesh 247001</span>
                    </div>
                    <div class="d-flex">
                        <div>
                            <img src="../../../assets/images/envelope.png" alt="">
                        </div>
                        <span class="h2 m-2">satyaasingh001@gmail.com</span>
                    </div>
                    <div class="d-flex my-5">
                        <div>
                            <img src="../../../assets/images/phone-logo.png" alt="">
                        </div>
                        <span class="h2 m-2">123-456-7890</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class=" py-5">
                        <div class="container border border-3 p-3">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55304.795003170715!2d77.52140776333394!3d29.9636288192638!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390eea921f841f45%3A0x39baf780903811f!2sSaharanpur%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1661519918229!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- ****** Contatc Area Start ****** -->
    <div class="contact-area section_padding_80">
        <div class="container">
            <!-- Contact Form  -->
            <div class="contact-form-area my-lg-5 py-5">
                <div class="row">
                    <div class="col-6 col-md-5">
                        <div class="container" data-wow-delay="0.3s">
                            <img src="../../../assets/images/contact.jpg" class="w-75" alt="">
                        </div>
                    </div>
                    <div class="col-6 col-md-7 item">
                        <div class="contact-form wow fadeInUpBig" data-wow-delay="0.6s">
                            <h2 class="contact-form-title mb-3">If You Have Any Question Contact Me Today !</h2>
                            <!-- Contact Form -->
                            <form [formGroup]="contactForm" method="post">
                                <div class="form-group py-4">
                                    <input type="text" name="contactName" formControlName="contactName"
                                        class="form-control" placeholder="Name">
                                    <div *ngIf="contactName?.errors?.['required'] &&contactName?.touched"
                                        class="text-danger">
                                        required*
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="contactEmail" formControlName="contactEmail"
                                        class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group py-4">
                                    <textarea class="form-control" name="query" formControlName="query" cols="30"
                                        rows="10" placeholder="Query"></textarea>
                                </div>
                                <button type="submit" (click)="contact()" class="btn contact-btn">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- ****** Contact Area End ****** -->
</section>