.breadcumb-area {
    width: 100%;
    height: 350px;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.breadcumb-area:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: rgba(35, 45, 55, 0.7);
    z-index: -1;
}

.breadcumb-area .bradcumb-title h2 {
    font-size: 48px;
    color: #85B72C;
    font-weight: 600;
}

.bradcumb-title span a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 5px;
}

.contact-form .form-control,
.comment-form .form-control {
    border: 1px solid #ebebeb;
    height: 50px;
}

.contact-form .form-control:focus,
.comment-form .form-control:focus {
    border: 1px solid #000;
}

.contact-form textarea.form-control,
.comment-form textarea.form-control {
    height: 130px;
}

.contact-btn {
    margin-top: 50px;
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #85B72C;
    border-radius: 30px;
}

.contact-btn:hover {
    color: #fff;
    background-color: #5f9108;
}

.border{
    border-color: #85B72C !important;
}