<!-- ****** banner Area Start ****** -->
<section>
    <div class="breadcumb-area" style="background-image: url(../../../assets/images/bg-banner.png);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="bradcumb-title text-center">
                    <h2>Admin Login</h2>
                    <span><a routerLink="/home"><i class="fa fa-home"></i> Home</a></span>
                    <span><a routerLink="/login"> / Login</a></span>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="py-lg-5 my-5">
                    <div class="py-lg-5 my-3">
                        <span class="login-h">KitchenRecipe</span>
                        <p class="w-75 fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sed
                            soluta
                            praesentium
                            culpa
                            eaque iure facere iusto totam! Nisi voluptate possimus eius commodi error delectus illum
                            dolor
                            magni et eveniet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container my-lg-5 py-5">
                    <div class="contact">
                        <form [formGroup]="loginForm" (ngSubmit)="userLogin()" autocomplete="off">
                            <div>
                                <h1>Sign In</h1>

                                <div class="group my-5">
                                    <input type="email" formControlName="email" id="email" required>
                                    <label>Email</label>
                                    <span class="text-danger"
                                        *ngIf="email && email.invalid && email.touched">required*</span>
                                </div>
                                <div class="group">
                                    <input type="password" formControlName="password" id="password" required>
                                    <label>Password</label>
                                    <span class="text-danger"
                                        *ngIf="password && password.invalid && password.touched">required*</span>
                                </div>
                                <div class="text-end mt-2">
                                    <a routerLink="">Forget Password ?</a>
                                </div>

                                <button type="submit" [disabled]="loginForm.invalid" class="button mt-5">Login <i
                                        class="fa fa-arrow-right mr-2"></i></button>
                                <div class="mt-3 text-center">
                                    <p>Don't have an account? <a routerLink="/register">Register Here</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>