<section>
    <div class="container-fluid">
        <div class="row my-lg-4 pb-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner container px-5">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-6 align-self-center">
                                    <div class="hero-text">
                                        <h1>Cooking Never Got Any Easier</h1>
                                        <p>
                                            “I feel a recipe is only a theme, which an intelligent cook can play each
                                            time with a variation.”
                                        </p>
                                        <a routerLink="/All-Recipes" class="button">Get Started <i class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <img src="../../../assets/images/slide-1.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6 align-self-center">
                                    <div class="hero-text">
                                        <h1>Learn The Art Of Cooking Here</h1>
                                        <p>
                                            “Cooking is an observation-based process that you can’t do if you’re so
                                            completely focused on a recipe.”
                                        </p>
                                        <a routerLink="/All-Recipes" class="button">Get Started <i
                                                class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <img src="../../../assets/images/slide-2.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <i class="fa fa-arrow-circle-left fa-3x" style="color: #85B72C;" aria-hidden="true"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <i class="fa fa-arrow-circle-right fa-3x" style="color: #85B72C;" aria-hidden="true"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>


<section id="about">
    <div class="container py-lg-5 my-5">
        <div class="row">
            <div class="col-md-12 col-lg-6 align-self-center">
                <div class="row">
                    <div class="col-6">
                        <img src="../../../assets/images/about-1.jpg" class="w-100" alt="">
                    </div>
                    <div class="col-6">
                        <img src="../../../assets/images/about-2.jpg" class="w-100" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 align-self-center ">
                <div class="about ps-3">
                    <small class="text-uppercase">About us</small>
                    <h1 class="mb-4" style="font-weight: 600;">About Our <span>Kitchen</span></h1>
                    <p class="text-secondary" style="line-height: 2;">
                        A kitchen is a room or part of a room used for cooking and food preparation in a dwelling or in
                        a commercial establishment. A modern middle-class residential kitchen is typically equipped with
                        a stove, a sink with hot and cold running water, a refrigerator,
                        and worktops and kitchen cabinets arranged according to a modular design. Many households have a
                        microwave oven, a dishwasher, and other electric appliances. The main functions of a kitchen are
                        to store, prepare and cook food.
                    </p>
                    <a routerLink="" class="button"><span>Learn More</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- category cards -->

<section class="my-lg-5 py-5">
    <div class="container py-5">
        <div class="text-center">
            <span class="category"><i class="fa fa-cutlery fa-2x"></i></span>
            <h2 class="h1 text-secondary">Featured Recipes</h2>
            <div class="container px-5">
                <p class="text-secoundary mt-4">
                    "Food is a necessary component to life. People can live without Renoir, Mozart, Gaudi, Beckett, but
                    they cannot live without food."
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="our-team">
                    <img src="../../../assets/images/category/breakfast.webp" alt="team member"
                        class="img-responsive w-100">
                    <div class="team-content">
                        <h3 class="name">Breakfast</h3>
                        <span class="post">All Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="our-team">
                    <img src="../../../assets/images/category/quick foods.webp" alt="team member"
                        class="img-responsive w-100">
                    <div class="team-content">
                        <h3 class="name">Quick Food</h3>
                        <span class="post">All Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="our-team">
                    <img src="../../../assets/images/category/dinner.jpg" alt="team member"
                        class="img-responsive w-100">
                    <div class="team-content">
                        <h3 class="name">Dinner</h3>
                        <span class="post">All Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="our-team">
                    <img src="../../../assets/images/category/lunch.webp" alt="team member"
                        class="img-responsive w-100">
                    <div class="team-content">
                        <h3 class="name">Launch</h3>
                        <span class="post">All Recipes</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /category cards -->

<section id="about" class="my-lg-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12  align-self-center">
                <div class="about">
                    <small class="text-uppercase">Our services</small>
                    <h1 class="mb-4" style="font-weight: 600;">About Our <span>Services</span></h1>
                    <p class="text-secondary" style="line-height: 2;">
                        Here's an introduction to some cooking methods that can take your cooking methods to the next
                        level. You’ll also learn some of the fundamentals of principle-based cooking that can help you
                        break free from the chains of having to follow recipes exactly.
                        Our goal is to train you and provide you with the best of recipes. Cooking is one of the most
                        powerful ways in which we can optimize our enjoyment of great quality food while protecting our
                        health. Even on a tight budget, cooking
                        can be a cost-effective, joyful and rewarding way to love the food that will love us back for a
                        lifetime. In this course, you’ll learn some basic recipes from a home cook and two professional
                        chefs who prioritize healthful eating.
                    </p>
                    <a routerLink="" class="button"><span>Learn More</span></a>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="ps-5">
                    <img src="../../../assets/images/slide-1.png" class="w-100 spin dnone" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="my-lg-5 py-5">
    <div class="container py-5">
        <div class="text-center">
            <span class="category"><i class="fa fa-cutlery fa-2x"></i></span>
            <h2 class="h1 text-secondary">Trending Recipes</h2>
            <div class="container px-5">
                <p class="text-secoundary mt-4">
                    “In the childhood memories of every good cook, there’s a large kitchen, a warm stove, a simmering
                    pot and a mom.”
                </p>
            </div>
        </div>
    </div>
    <div class="container ">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="recipe-card mx-3">
                    <div class="header">
                        <img src="https://hips.hearstapps.com/delish/assets/17/31/1501791674-delish-chicken-curry-horizontal.jpg"
                            class="w-100" alt="">
                    </div>
                    <div class="body"><a class="title" routerLink="">Lorem ipsum</a>
                        <h3>Ingredients</h3>
                        <ul class="ingredients">
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Sushi Rice</li>
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Heavy mayonnaise</li>
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Crab sticks</li>
                            <li><i class="fa fa-cutlery" aria-hidden="true"> </i>Sesame seeds.</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="recipe-card mx-3">
                    <div class="header">
                        <img src="https://hips.hearstapps.com/delish/assets/17/31/1501791674-delish-chicken-curry-horizontal.jpg"
                            class="w-100" alt="">
                    </div>
                    <div class="body"><a class="title" href="#">Lorem ipsum</a>
                        <h3>Ingredients</h3>
                        <ul class="ingredients">
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Sushi Rice</li>
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Heavy mayonnaise</li>
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Crab sticks</li>
                            <li><i class="fa fa-cutlery" aria-hidden="true"> </i>Sesame seeds.</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="recipe-card mx-3">
                    <div class="header">
                        <img src="https://hips.hearstapps.com/delish/assets/17/31/1501791674-delish-chicken-curry-horizontal.jpg"
                            class="w-100" alt="">
                    </div>
                    <div class="body"><a class="title" href="#">Lorem ipsum</a>
                        <h3>Ingredients</h3>
                        <ul class="ingredients">
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Sushi Rice</li>
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Heavy mayonnaise</li>
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Crab sticks</li>
                            <li><i class="fa fa-cutlery" aria-hidden="true"> </i>Sesame seeds.</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="recipe-card mx-3">
                    <div class="header">
                        <img src="https://hips.hearstapps.com/delish/assets/17/31/1501791674-delish-chicken-curry-horizontal.jpg"
                            class="w-100" alt="">
                    </div>
                    <div class="body"><a class="title" href="#">Lorem ipsum</a>
                        <h3>Ingredients</h3>
                        <ul class="ingredients">
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Sushi Rice</li>
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Heavy mayonnaise</li>
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Crab sticks</li>
                            <li><i class="fa fa-cutlery" aria-hidden="true"> </i>Sesame seeds.</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="recipe-card mx-3">
                    <div class="header">
                        <img src="https://hips.hearstapps.com/delish/assets/17/31/1501791674-delish-chicken-curry-horizontal.jpg"
                            class="w-100" alt="">
                    </div>
                    <div class="body"><a class="title" href="#">Lorem ipsum</a>
                        <h3>Ingredients</h3>
                        <ul class="ingredients">
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Sushi Rice</li>
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Heavy mayonnaise</li>
                            <li> <i class="fa fa-cutlery" aria-hidden="true"> </i>Crab sticks</li>
                            <li><i class="fa fa-cutlery" aria-hidden="true"> </i>Sesame seeds.</li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>


<section class="section bg-cover ct-newsletter-section">
    <div class="container">
        <div class="section-title-wrap section-header text-center">
            <h2 class="newstitle">Subscribe to My KitchenRecipe</h2>
            <span class="text-secondary"> Get access to my latest recipes by joining the weekly KitchenRecipe </span>
        </div>
        <form method="post">
            <div class="newsletter-fields">
                <input type="email" class="form-control" placeholder="Enter your email address">
                <div class="mx-3">
                    <button type="submit" class="button">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>